{% extends "layout.html" %}
{% block content %}
    <div class="container col-md-8" style="margin-left: 10%">
        {% for post in posts %}

            <div class="row ">

                <div class="col-md-8">
                    <img class="rounded-circle col-md-2" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                    <a href="#">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <div>
                    <div>

                    </div>

                </div>
 </div>
            <div class="container col-md-8" style="margin-left: 10%">
            <a href="{{ url_for('post', post_id=post.id) }}">link</a>
            </div>
            <div class="container">
                <p>{{ post.content }}</p>
                <img src="{{ url_for('static', filename='post_imgs/' + post.post_image) }}">

                {#              {{ post.post_image }}#}


            </div>

            </div>




        {% endfor %}

{% endblock content %}
